@page
@model MovieDirectorClient.Pages.NewDirectorModel
@{
    <form>
        <label>Director Id</label>
        <input type="text" />

        <label>Director Name</label>
        <input type="text" />

        <button>Add Director</button>
    </form>
}
