@page
@model MovieDirectorClient.Pages.NewDirectorModel
@{
    <form method="post">
        <label>Director Id</label>
        <input type="text" asp-for="Id" value="@Model.Id" />

        <label>Director Name</label>
        <input type="text" asp-for="DirectorName" value="@Model.DirectorName" />

        <button>Add Director</button>
    </form>
}
